{
    "git.confirmSync": false,
    "typescript.check.npmIsInstalled": false,
    "vim.disableAnnoyingNeovimMessage": true,
    "editor.fontSize" : 14,
    "editor.lineNumbers": "relative",
    "workbench.colorTheme": "Solarized Dark",
    "window.zoomLevel": -1,
    "workbench.editor.enablePreview": false,
    "workbench.editor.enablePreviewFromQuickOpen": false,
}
